{{#if hasContent}}

    {{#each news_articles}}
        <div>
            <h1>{{ this.title }}</h1>
        </div>

        {{#if this.imageUrl}}
            <div>
                <img src="{{ this.imageUrl }}" alt="">
            </div>
        {{else}}
            <h3>This article has no image.</h3>
        {{/if}}

        <div>
            {{ this.summary }}
        </div>

        <div>
            {{ this.publishedAt }}
        </div>

        <div>
            <a href="{{ this.articleUrl }}">Read</a>
        </div>


    {{/each}}
{{else}}
    <h1>Search returned no results</h1>
{{/if}} 